[Desktop Entry]
Name=blinKen
Name[bn]=ব্লিনকেন
Name[eo]=blinKeno
Name[ne]=झिमझिम
Name[pa]=ਬਲਿਨਕਿਨ
Name[tr]=Blinken
DocPath=blinken/index.html
GenericName=Simon Says Game
GenericName[be]=Гульня "Сайман кажа"
GenericName[bg]=Игра за паметта
GenericName[bn]=সায়মনের কথা খেলা
GenericName[bs]=Simon Says igra
GenericName[ca]=Joc del Simon Diu
GenericName[cs]=Hra Kuba řekl
GenericName[csb]=Gra jidzenié w szlach
GenericName[cy]=Gêm Dewi yn Dweud
GenericName[da]='Simon siger'-spil
GenericName[de]="Simon sagt"-Spiel
GenericName[el]=Παιχνίδι "Ο Σάιμον λέει"
GenericName[eo]=Simona ludo
GenericName[es]=Simón dice
GenericName[et]='Simon Says' mäng
GenericName[eu]="Simon-ek dio" jokoa
GenericName[fa]=بازی سیمون می‌گوید
GenericName[fi]=Simon Says -peli
GenericName[fr]=Jeu de Simon
GenericName[ga]=Cluiche "Simon Says"
GenericName[gl]=O xogo de "Simón di..."
GenericName[he]=משחק המלך אמר
GenericName[hr]=Igra kako Simon kaže
GenericName[hu]=Memóriajáték
GenericName[is]=Hermi leikur
GenericName[it]=Gioco Simon Says
GenericName[ja]=ゲーム「サイモンさんが言いました」
GenericName[ka]=თამაში "წერეთელმა დაგვიბარა"
GenericName[km]=ល្បែង ស៊ីម៉ុន​និយាយ
GenericName[lt]=Simon Says žaidimas
GenericName[ms]=Permainan Simon Says
GenericName[nb]=Hukommelsesleke
GenericName[nds]=Behollspeel
GenericName[ne]=सिमोन भनिने खेल
GenericName[nl]='Simon zegt'-spel
GenericName[nn]=Hugsespel
GenericName[pa]=ਸੀਮੋਨ ਕਿਹਾ ਖੇਡ
GenericName[pl]=Gra w naśladowanie
GenericName[pt]=Jogo o Simão Diz
GenericName[pt_BR]=Jogo Simon Diz
GenericName[ru]=Игра «Саймон сказал»
GenericName[sk]=Hra Simon Says
GenericName[sl]=Igra ponavljanja
GenericName[sr]=Игра Сима каже
GenericName[sr@Latn]=Igra Sima kaže
GenericName[sv]=Simon säger lek
GenericName[tr]=Simon Süylüyor Oyunu
GenericName[uk]=Гра "Саймон каже"
GenericName[vi]=Trò chơi Phát âm Simon
GenericName[zh_CN]=我说你做游戏
GenericName[zh_TW]=老師說遊戲
Exec=blinken
Icon=blinken
Type=Application
Comment=A retro memory enhancement game
Comment[be]=Класічная гульня для развіцця памяці
Comment[bg]=Игра за упражнение на паметта
Comment[bn]=পুরনো দিনের স্মৃতিবর্ধক খেলা
Comment[bs]=Program za poboljšanje retro memorije
Comment[ca]=Un joc per millorar la memòria amb aspecte retro
Comment[cs]=Hra k procvičování paměti
Comment[csb]=Znónô gra na cwiczënk pamiãcë ë pòstrzég
Comment[cy]=Gêm oes-a-fu i wella eich cof
Comment[da]=Et indlæringsprogram for hukommelsesforbedring
Comment[de]=Ein Spiel zum Training Ihres Gedächtnisses
Comment[el]=Ένα κλασικό παιχνίδι βελτίωσης της μνήμης
Comment[eo]=Malnovaĉa memorpliboniga ludo
Comment[es]=Un juego para mejorar la memoria
Comment[et]=Vanaaegne mälu parandamise mäng
Comment[eu]=Memoria hobetzeko joko zaharra
Comment[fa]=بازی تقویت حافظه گذشته
Comment[fi]=Vanha muistinparantamispeli
Comment[fr]=Un ancien jeu de mémoire
Comment[ga]=Cluiche feabhsaithe cuimhne den seandéanamh
Comment[gl]=Un programa para mellorar a memoria
Comment[he]=משחק ישן לשיפור הזיכרון
Comment[hr]=Starinska igra memorije
Comment[hu]=Egy klasszikus memóriajavító játék
Comment[is]=Minnisþjálfunarleikur
Comment[it]=Un programma per esercitare la memoria
Comment[ja]=レトロな記憶力増強ゲーム
Comment[ka]=მეხსიერების გასავარჯიშებელი თამაში
Comment[km]=ល្បែង​ត្រឡប់​បន្កើន​សតិ
Comment[lt]=Retro atminties padidinimo priemonė
Comment[nb]=Et hukommelsesspill etter gammel stil
Comment[nds]=En oolt Speel för't Verbetern vun't Behollen
Comment[ne]=रेट्रो स्मृति बढाउने खेल
Comment[nl]=Een geheugenoefenspel
Comment[nn]=Eit gammaldags hugsespel
Comment[pl]=Znana gra na ćwiczenie pamięci i spotrzegawczości
Comment[pt]=Um jogo antigo para melhorar a memória
Comment[pt_BR]=Um jogo para treinar a memória
Comment[ru]=Игра для развития памяти
Comment[sk]=Retro hra na zlepšenie pamäte
Comment[sl]=Igra za izboljšanje spomina
Comment[sr]=Стара игра за побољшавање меморије
Comment[sr@Latn]=Stara igra za poboljšavanje memorije
Comment[sv]=Ett gammalmodigt program för att förbättra minnet
Comment[tr]=Bir hafıza geliştirme oyunu
Comment[uk]=Гра для розвитку пам'яті
Comment[vi]=Một trò chơi tăng cường trí nhớ quá khứ
Comment[zh_CN]=一个记忆强化游戏
Comment[zh_TW]=加強記憶力的遊戲
Terminal=false
Categories=Qt;KDE;Education;
