[Desktop Entry]
Encoding=UTF-8
Name=KSimon
Exec=ksimon
Icon=ksimon
Type=Application
Comment=A memory enhancement game
Comment[et]=Mälu parandamise mäng
Comment[pt]=Um programa de melhoria de memória
Terminal=false
Categories=Qt;KDE;Education;
