[Desktop Entry]
Encoding=UTF-8
Name=KSimon
Name[sv]=Ksimon
Exec=ksimon
Icon=ksimon
Type=Application
Comment=A memory enhancement game
Comment[bg]=Игра за упражнение на паметта
Comment[da]=Et program til hukommelsesforbedring
Comment[es]=Un juego para mejorar la memoria
Comment[fr]=Un jeu d'entrainement à la mémoire
Comment[it]=Un gioco per migliorare la memoria
Comment[mt]=Logħba biex ittejjeb il-memorja
Comment[nb]=Et hukommelses spill
Comment[nl]=Een geheugenspel
Comment[pa]=ਯਾਦਦਾਸ਼ਤ ਵਧਾਉਣ ਵਾਲੀ ਖੇਡ
Comment[pt]=Um jogo de exercício de memória
Comment[pt_BR]=Um jogo de memória
Comment[ru]=Программа тренировки памяти
Comment[sv]=Ett minnesförbättringsspel
Comment[tr]=Bir hafıza geliştirme oyunu
Terminal=false
Categories=Qt;KDE;Education;
